/* Global Styles */

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 50px;
}

/* Animation */
.delay05s {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.delay1s {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}
.delay2s {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}
.delay3s {
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
    animation-delay: 3s;
}
.delay4s {
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    -o-animation-delay: 4s;
    animation-delay: 4s;
}
.delay5s {
    -webkit-animation-delay: 5s;
    -moz-animation-delay: 5s;
    -o-animation-delay: 5s;
    animation-delay: 5s;
}

/* Custom Container */
@media (min-width: 1600px) {
    .container-larger {
        width: 1570px;
    }
}

/* Bootstrap Btn Style */
.btn {
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-weight: 300;
}

.btn-no-uppercase {
    text-transform: none;
}

.btn-blue {
    background: #04208a;
    color: #fff;
}

.btn-blue:hover {
    color: #fff;
    background: #041c5d;
}

.btn-not-rounded {
    border-radius: 0;
}

/* Bootstrap Navbar Color */

.navbar-merlion {
    background: #223466;
    background: linear-gradient(to right, #223466 0%, #4468cc 50%, #5071e1 70%);
    border-color: transparent;
}
.navbar-merlion .navbar-brand {
    color: #eee;
}
.navbar-merlion .navbar-brand:hover, .navbar-merlion .navbar-brand:focus {
    color: #fff;
}
.navbar-merlion .navbar-text {
    color: #eee;
}
.navbar-merlion .navbar-nav > li > a {
    color: #eee;
}
.navbar-merlion .navbar-nav > li > a:hover, .navbar-merlion .navbar-nav > li > a:focus {
    color: #fff;
    background: transparent;
}
.navbar-merlion .navbar-nav > .active > a, .navbar-merlion .navbar-nav > .active > a:hover, .navbar-merlion .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.05);
}
.navbar-merlion .navbar-nav > .open > a, .navbar-merlion .navbar-nav > .open > a:hover, .navbar-merlion .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.05);
}
.navbar-merlion .navbar-toggle {
    border-color: #eee;
}
.navbar-merlion .navbar-toggle:hover, .navbar-merlion .navbar-toggle:focus {
    background-color: rgba(0, 0, 0, 0.05);
}
.navbar-merlion .navbar-toggle .icon-bar {
    background-color: #eee;
}
.navbar-merlion .navbar-collapse,
.navbar-merlion .navbar-form {
    border-color: #223466;
}
.navbar-merlion .navbar-link {
    color: #eee;
}
.navbar-merlion .navbar-link:hover {
    color: #fff;
}

@media (max-width: 767px) {
    .navbar-merlion .navbar-nav .open .dropdown-menu > li > a {
        color: #eee;
    }
    .navbar-merlion .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-merlion .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
    }
    .navbar-merlion .navbar-nav .open .dropdown-menu > .active > a, .navbar-merlion .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-merlion .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.05);
    }
}

/* Bootstrap Navbar Height */

@media (min-width: 768px) {
    body {
        padding-top: 80px;
    }

    .navbar-merlion {
        min-height: 80px;
    }

    .navbar-merlion .navbar-nav > li > a {
        padding-top: 0;
        padding-bottom: 0;
        line-height: 80px;
    }

    .navbar-merlion .navbar-text {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 80px;
    }
}

/* Bootstrap Navbar Menus */

.navbar-merlion .navbar-nav-primary {
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-merlion .navbar-nav-secondary {
    font-size: 12px;
}

.navbar-merlion .navbar-nav-tertiary {
    font-size: 12px;
}

@media (min-width: 768px) {
    .navbar-merlion .navbar-divider {
        background: rgba(255, 255, 255, 0.2);
        width: 1px;
        height: 50px;
        margin: 15px;
    }
}

/* Site Announcement */

.site-announcement {
    background: #111133;
    color: #ddd;
    font-size: 12px;
    padding: 10px;
    text-align: center;
}

.site-announcement a {
    color: #ddd;
}

/* Login Dropdown */

.dropdown-login {
    min-width: 280px;
    padding: 20px;
    font-size: 12px;
    background-color: rgba(255,255,255,.95);
}

.dropdown-login .bottom{
    border-top: 1px solid #ddd;
    margin-top: 25px;
    padding-top: 15px;
}

.dropdown-login .form-group {
    margin-bottom: 10px;
}

.dropdown-login h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 22px;
}

/* Footer */

footer {
    background: #fafafa;
    border-top: 1px solid #eee;
    padding: 30px 0;
    font-size: 12px;
}

footer p {
    margin: 0;
}

/* Content Section */

section.content {
    padding: 40px 0;
    color: #223466;
}

section.content h1.title {
    color: #3755A6;
    font-weight: 300;
    font-size: 80px;
    letter-spacing: -2px;
    word-spacing: 10px;
    line-height: 1.1;
    margin-bottom: 25px;
    text-transform: uppercase;
}

section.content hr {
    margin: 30px 0;
}

@media (max-width: 767px) {
    section.content h1.title {
        color: #3755A6;
        font-weight: 300;
        font-size: 40px;
        letter-spacing: -2px;
        word-spacing: 10px;
        line-height: 1.1;
        margin-bottom: 25px;
        text-transform: uppercase;
    }
}

/* Translucent Panels */
.panel-translucent {
    background-color: rgba(255, 255, 255, 0.8)
}

.panel-translucent > .panel-heading {
    color: #333;
    background-color: rgba(255, 255, 255, 0.3);
}

.panel-translucent > .panel-heading > h3.panel-title {
    font-weight: 600;
    color: #333;
    margin-top: 2px;
}

.panel-translucent > .panel-footer {
    color: #333;
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 20px;
    padding-bottom: 20px;
}

.panel-translucent > .panel-heading + .panel-collapse > .panel-body {
}

.panel-translucent > .panel-heading .badge {
    color: #f5f5f5;
    background-color: #333;
}

/* Splash Pages */

section.splash {
    background: no-repeat center;
    background-size: cover;
    text-align: center;
}

section.splash > div:first-child {
    padding-top: 60px;
}

section.splash > div:last-child {
    padding-bottom: 60px;
}

section.splash h1.title {
    color: rgba(255,255,255, 0.95);
    font-size: 60px;
    font-weight: 600;
}

section.splash p.lead {
    color: rgba(255,255,255, 0.95);
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 30px;
}

section.splash label {
    color: rgba(255,255,255, 0.95);
    font-size: 20px;
    font-weight: lighter;
}

section.splash .form-control {
    border-color: #cfdadd;
    border-radius: 2px;
}

section.splash-full {
    min-height: 100vh;
    min-height: calc(100vh - 80px);
    /* min-height: calc(100vh - 212px); */
}

@media (max-width: 767px) {
    section.splash-full {
        min-height: 0;
    }

    section.splash h1.title {
        font-size: 40px;
    }

    section.splash p.lead {
        font-size: 25px;
    }
}

/* Home Page */

.home-banner {
    background-image: url("../img/banner-home.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: 80%;
    height: 300px;
    width: 100%;
    position: relative;
}


.home-banner .tagline {
    margin-top: 10px;
}

.home-banner .tagline {
    padding: 15px 35px;
    color: #fff;
    background: rgba(0,0,0,0.5);
    width: 100%;
    max-width: 580px;
    font-size: 25px;
}

.home-banner .tagline p {
    margin: 0;
}

.home-banner .tagline p.lead {
    font-size: 1em;
}

.home-banner .tagline p.sublead {
    font-size: 0.6em;
    color: #ddd;
    margin-left: 30px;
}

.home h1 {
    color: #15076b;
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.home-banner p.action {
    margin-top: 15px;
}

@media (min-width: 768px) {
    .home-banner {
        height: 650px
    }
    .home-banner .tagline {
        font-size: 35px;
        position: absolute;
        bottom: 30px;
        left: 30px;
    }
}

.home .info-block {
    background-image: url("../img/pattern.png");
    color: #15076c;
    margin-bottom: 25px;
}

.home .info-block p {
    margin: 0;
}

.home .info-block .left {
    float: left;
    padding: 10px;
}

.home .info-block .right {
    float: right;
    padding: 15px;
}

.home .info-block p.lead {
    font-size: 22px;
}

.home .info-block p.sublead {
    font-size: 18px;
}

.home .promo-block {
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 10px;
}

.home .promo-block .country {
    color: #15076b;
    font-size: 25px;
}

.home .promo-block .class {
    color: #555;
    font-size: 14px;
}

.home .promo-block .from {
    color: #333;
    font-size: 15px;
    margin-bottom: -5px;
    text-align: right;
}

.home .promo-block .price {
    color: #15076b;
    font-size: 28px;
    text-align: right;
}

.home .promo-block .currency {
    color: #15076b;
    font-size: 20px;
    margin-right: 5px;
}

/* FFP Main Page */
div.summary-header {
    margin-bottom: 50px;
}


section.content h1.ffp-title{
    color: #3755A6;
    font-weight: 300;
    font-size: 42px;
    letter-spacing: -2px;
    word-spacing: 10px;
    line-height: 1.1;
    margin-bottom: 25px;
}

section.content h1.miles-summary{
    font-weight: lighter;
    font-size: 42px;
    letter-spacing: -2px;
    word-spacing: 10px;
    line-height: 1.2;
    margin-bottom: 20px;
}

section.content div.cust-display{
    margin-top: 20px;
}

section.content span.miles-count{
    display: inline-block;
    font-size: 2em;
    font-weight: lighter;
    line-height: 2;
}

section.content span.miles-expiry{
    display: inline-block;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.1;
}

/* Authentication Splash */

section.splash.auth {
    background-image: url("../img/splash-auth.jpg");
    background-position: bottom;
}

/* Flight Search */

span.cheapest-price {
    display: inline;
    font-size: 32px;
    font-weight: 400;
    color: #2b542c;
}

span.flight-display {
    display: block;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 500;
}

span.stopover-display {
    display: block;
    font-size: 16px;;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

/* Jeff the Chef */
.splash-food {
    background: url(../img/meal.jpg) center;
    background-size: cover;
    width: 100%;
    height: 500px;
}
